---
import BettingGame from '../components/challenge/BettingGame'

export const prerender = false

const id = Astro.url.searchParams.get('id') || ''

if (!id) return Astro.redirect('/404')
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Room {id}</title>
    </head>
    <body>
        <BettingGame roomId={id} client:only />
    </body>
</html>
