---
import BaseLayout from '@/layouts/BaseLayout.astro'
import BettingGame from '../components/challenge/BettingGame'
---

<BaseLayout>
    <body>
        <BettingGame client:only />
    </body>
</BaseLayout>
